:root {
    --background-1: rgb(44, 44, 44);
    --background-2: #7d7d7d;
    --background-3: #07c700;
    --background-4: #f2f2f2;
    --text-1: #fff;
    --text-2: #07c700;
    --text-3: #7d7d7d;
    --text-4: #000;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--background-4);
    font-size: 1.5rem;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--background-1);
    color: var(--text-2);
}

header h1 {
    display: inline-block;
    font-weight: bolder;
    font-size: 200%;
}

header h1::before {
    content: "</" ;
}

header h1::after {
    content: ">"
}

header nav {
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--text-3);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding-top: 5%;
    margin-left: 25px;
}

header nav ul li a {
    color: inherit;
    text-decoration: inherit;
  }

#about-me {
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#about-me h2 {
    flex: 0 0 18%;
    height: 200px;
    max-width: 200px;
    min-width: 200px;
    position: relative;
    background-image: url("../Images/Self-Portrait.jpg");
    background-size: 100% 100%;
    border: 5px solid var(--background-1);
    margin-bottom: 25px;
}

#about-me h2 span {
    position: absolute;
    bottom: 8px;
    right: 0px;
    background-color: var(--background-1);
    color: var(--text-2);
}

#about-me p {
    flex: 0 0 78%;
    padding-left: 10px;
    order: 2;
    margin-bottom: 25px;
}

@media screen and (max-width:854px) {

header {
    padding: 0px;
    text-align: center;
}

header nav {
    display: block;
    margin: 0px 0px 20px 0px;
    width: 100%;
}

header nav ul li {
    display: block;
    text-align: center;
    padding-top: 0%;
    margin-left: 0px;
    width: 100%;
    background-color:var(--background-2);
    border-bottom: 1px solid black;
    color: var(--text-2);
}

}

@media screen and (max-width:768px) {

#about-me h2 {
    flex: 0 0 50%;
}

#about-me p {
    flex: 0 0 90%;
}

}